/* line 10, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* line 26, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 37, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
audio:not([controls]) {
  display: none;
}
/* line 44, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/*
a:focus {
  .tab-focus();
}
*/
/* line 57, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
a:hover,
a:active {
  outline: 0;
}
/* line 65, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
/* line 72, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
sup {
  top: -0.5em;
}
/* line 75, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
sub {
  bottom: -0.25em;
}
/* line 82, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 94, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
#map_canvas img,
.google-maps img {
  max-width: none;
}
/* line 103, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
/* line 111, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
button,
input {
  *overflow: visible;
  line-height: normal;
}
/* line 116, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 121, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/* line 128, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
/* line 134, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* line 138, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/reset.less */
textarea {
  overflow: auto;
  vertical-align: top;
}
/*
  Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
  for details. All rights reserved. Use of this source code is governed by a
  BSD-style license that can be found in the LICENSE file.
*/
/* line 7, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}
/* line 16, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
output {
  display: block;
}
/* line 20, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#byte-content {
  margin: 5px 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 27, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#byte-range {
  margin-top: 5px;
}
/* line 31, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#read {
  margin-top: 1em;
}
/* line 35, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#drop-zone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #bbb;
  font-size: 20pt;
  font-weight: bold;
  padding: 25px;
  text-align: center;
}
/* line 47, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#drop-zone.hover {
  background-color: #def;
  border-color: #777;
  color: #777;
}
/* line 53, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#progress-bar {
  background-color: #9cf;
  border: 1px solid #000;
  font-size: 14px;
  margin: 10px 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  padding: 3px;
}
/* line 66, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#progress-bar.loading {
  opacity: 1.0;
}
/* line 70, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
.thumb {
  border: 1px solid #000;
  height: 75px;
  margin: 10px 5px 0 0;
}
/* line 77, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#filelist li {
  padding-bottom: 1em;
}
/* line 81, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#filelist .filename {
  font-weight: bold;
}
/* line 85, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#filelist .image {
  padding-top: 1em;
}
/* line 88, /Users/mikemitterer/dart/AndroidIconGenerator/web/assets/less/main.less */
#filelist .image > img {
  width: 400px;
}
